{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'about.css'%}">
    <title>About</title>
</head>
<body>
    <section>
        <header>
            <nav class="nav">
                <div class="logo">Kazart</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#"><button class="contact">Contact Kaz</button></a></li>
                </ul>
            </nav>
        </header>
    </section>
    <section class="head">
        <h1 class="about">
           Meet Kaz
        </h1>
        <div class="about_int">
            <div class="about_descr">
              <p >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ab quo earum molestiae fugit dicta hic praesentium tenetur repellendus laudantium numquam commodi pariatur minus aspernatur dolore iste, nulla explicabo quos.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, corrupti? Nisi provident a alias odio sint, libero rerum officia unde expedita magnam cupiditate quam amet vitae. Libero accusantium vero totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>  
            </div>
            

            <img src="{%static 'images/imagekaz.jpeg'%}">
        </div>
    </section>
    <section class="image_boxes">
        <div class="boxes">
             <div class="box1">
            <p>At KAZART, our mission is simple yet transformative:
                To empower artists by providing a space to showcase their work, share their stories, and inspire others.
                
                We believe every artist deserves a platform to shine, and our goal is to make art accessible and appreciated worldwide.</p>
        </div>
        </div>
       

    </section>
</body>
</html>